src/docker-volumes/jenkins-volume/
src/docker-volumes/wordpress_data/
src/docker-volumes/wordpress_db/
src/docker-compose-files/master/traefik/acme.json
src/docker-compose-files/.env
src/docker-compose-files/master/traefik/.env

/src/docker-compose-files/master/traefik/self-signed-certificates/key.pem
/src/docker-compose-files/master/traefik/self-signed-certificates/cert.pem
/src/docker-compose-files/master/traefik/self-signed-certificates/certificates.toml
/src/docker-compose-files/master/portainer/
