[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
moviepy = "*"
selenium = "*"

[packages]
PyYAML = "*"
#matplotlib = "*"
python-dotenv = "*"
sqlalchemy = "*"
sqlalchemy-cockroachdb = "*"
psycopg2-binary = "*"
fastapi = "*"
uvicorn = "*"
selenium = "*"

[requires]
python_version = "3.9"
